<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="defaultLogConfig">
    <properties>
        <property name="LOG_HOME">/export/Logs/edi/</property>
        <property name="patternLayout">
            %d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n
        </property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${patternLayout}" charset="UTF-8"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
